.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Parent-background-sliders {
  height: 100%;
}

.Background-sliders {
  width: 400px;
  margin: auto;
  padding: 10%;
}